{% extends 'base.html.twig' %} {% block title %}
{{ controller_name }}
{% endblock %} {% block body %}
<section class="h-screen w-full overflow-auto">
  <div class="mx-auto max-w-5xl p-8">
    <h1 class="pb-3 text-4xl">Hello World</h1>
    <ul>
      <li>test</li>
      <li>test</li>
      <li>t</li>
      <li>t</li>
      <li>t</li>
    </ul>
  </div>
</section>

{% endblock %}
